:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* global smooth scrolling */
html {
  scroll-behavior: smooth;
  /* background: white; */
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  color: #1C1C1C;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
.my-xaxis-label {
  font-size: 0.625rem !important;
  font-weight: 600 !important;
  color: #9f9f9f !important;
  /* background-color: turquoise !important; */
}

.nav-link {
  color: #a6a6a6;
  font-weight: 500;
  text-decoration: none;
  transition:  0.3s ease-in-out;
}

.nav-link:hover {
  color: #2c92d5;
  text-decoration: wavy underline;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #1C1C1C;
    background-color: #ffffff;
  }
} */
